.experimentIcon {
    width: min(10vw, 48px);
    height: min(10vw, 48px);
    border: 1px solid var(--titleColor);
    border-radius: min(5vw, 24px);
    margin-right: min(1rem, 5vw);
}

.experimentTitle {
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

#experimentData {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

#dataForm {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.dataFields {
    flex: 2 0 30%;
    margin: 0 auto;
}

.dataInput {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin: 0;
}

.dataStats, #experimentControls {
    flex: 1 0 10rem;
    margin: 0 auto;
}

#cancelExperiment, #cancelImage {
    background-color: white;
    background-color: var(--titleColor);
    color: #666666;
    color: var(--mainTextColor);
    border: 1px solid #666666;
    border: var(--inputBorder);
}

#cancelExperiment:hover, #cancelImage:hover {
    background-color: #666666;
    background-color: var(--mainTextColor);
    color: white;
    color: var(--titleColor);
    border: 1px solid #666666;
    border: var(--controlBorder);
}

#cancelExperiment:active, #cancelImage:active {
    background-color: white;
    background-color: var(--titleColor);
    color: #666666;
    color: var(--mainTextColor);
    border: 1px solid #666666;
    border: var(--inputBorder);
}

.imageGallery {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.imageFilter {
    flex: 1 0 100%;
}

.images {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    flex: 1 0 100%;
}

.experimentImage > label {
    cursor: pointer;
}

.thumbnail {
    border: 3px solid white;
    border-radius: min(2vh, 1rem);
    opacity: 0.8;
}

.thumbnail:hover {
    opacity: 1;
}

.imageCheckbox {
    display: none;
}

/* EDIT */
#editModal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(102, 102, 102, 0.9);
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#editForm {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.imageData {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    flex: 1 0 15rem;
    padding: 0 0.4rem;
}

.imageInput {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

#editImage {
    width: 100%;
    border: 3px solid white;
    border-radius: min(2vh, 1rem);
}

#imageFile {
    display: none;
}

#editControls {
    flex: 1 0 100%;
    justify-content: flex-end;
}