/* VARIABLES */
:root {
    --mainBgColor: black;
    --mainTextColor: #666666;
    --titleColor: white;
    --mainContentBg: rgba(255, 255, 255, 0.8);
    --mainFontFamily: 'Alegreya Sans SC', sans-serif;
    --mainFSize: 1rem;
    --mainBorder: 3px solid white;
    --inputBorder: 1px solid var(--mainTextColor);
    --controlBorder: 1px solid var(--titleColor);
}

/* GENERAL SETTINGS */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: black;
    background: var(--mainBgColor);
    color: white;
    color: var(--titleColor);
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: var(--mainFontFamily);
    font-style: normal;
    font-weight: 300;
}

/* HTML LAYOUT ELEMENTS */
header, main, footer {
    width: 80vw;
    width: 80%;
    margin: 0 auto;
}

header {
    height: 10vh;
}

header, nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#ppcNav {
    width: 100%;
    justify-content: space-between;
}

main {
    min-height: 85vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

footer {
    height: 5vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

article {
    width: 100%;
    padding: 2.5%;
    margin: 2.5vh auto;
}

article:first-of-type {
    margin-top: 0;
}

article:last-of-type {
    margin-bottom: 0;
}

#ppcParticipateArticle {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

/* CUSTOM LAYOUT ELEMENTS */
#ppcTaphCrys {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.ppcCircle {
    border: 3px solid white;
    border: var(--mainBorder);
    border-radius: 50%;
    overflow: hidden;
    margin: 0 5vw;
}

#ppcTaphCircle, #ppcCrysCircle {
    width: 320px;
    height: 320px;
}

.ppcContent {
    background: rgba(255, 255, 255, 0.8);
    background: var(--mainContentBg);
    color: #666666;
    color: var(--mainTextColor);
    border: 3px solid white;
    border: var(--mainBorder);
    border-radius: 3rem;
}

/* HEADINGS */
h1 {
    font-size: 3rem;
    font-size: calc(3 * var(--mainFSize));
    font-weight: 100;
    margin: 0;
}

h2 {
    font-size: 2.5rem;
    font-size: calc(2.5 * var(--mainFSize));
    font-weight: 300;
    margin: 0 0 1rem 0;
}

h3 {
    font-size: 2rem;
    font-size: calc(2 * var(--mainFSize));
    font-weight: 300;
    margin: 0 0 1rem 0;
}

/* TEXT ELEMENTS */

/* LINKS */
#ppcHomeLink, #ppcLoginLink, #ppcLogoutBtn {
    color: white;
    color: var(--titleColor);
    transition: 0.5s ease-in-out
}

#ppcHomeLink:hover, #ppcHomeLink:focus {
    transform: scale(1.05);
}

#ppcLoginLink:hover, #ppcLoginLink:focus, #ppcLogoutBtn:hover,#ppcLogoutBtn:focus {
    color: #666666;
    color: var(--mainTextColor);
}

.ppcLink {
    text-decoration: none;
    color: white;
    color: var(--titleColor);
    transition: all 0.5s ease-in-out;
}

.ppcLink:hover, .ppcLink:focus {
    color: #666666;
    color: var(--mainTextColor);
}

/* GUI ELEMENTS */
button {
  font-family: var(--main);
}

.ppcNavButton {
    width: 48px;
    height: 48px;
    border: 1px solid white;
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.8);
    background: var(--mainContentBg);
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    visibility: hidden; /* Default Setting */
    transition: transform 0.5s ease-in-out;
}

.ppcNavButton:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.ppcNavButtonLabel {
  visibility: hidden; /* Default Setting */
  opacity: 0; /* Default Setting */
  transition: 0.5s ease-in-out;
}

.ppcArrow, .ppcAdd {
    width: 100%;
    height: auto;
}

#ppcArrowRight {
    transform: rotate(180deg);
}

#ppcLogoutBtn {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-family: var(--mainFontFamily);
  font-size: 1rem;
  font-size: var(--mainFSize);
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

#ppcParticipateBtn {
    height: 3rem;
    height: calc(3 * var(--mainFSize));
    border-radius: 1.5rem;
    border-radius: calc(1.5 * var(--mainFSize));
    font-size: 2rem;
    font-size: calc(2 * var(--mainFSize));
    font-weight: 100;
    padding: 0 1rem;
}

/* IMAGES */
.ppcExpLogo {
    width: auto;
    height: inherit;
    transition: 0.5s ease-in-out;
}

.ppcExpLogo:hover {
    transform: scale(1.2);
}

.ppcExpIcon {
    width: 2rem;
    height: 2rem;
    border: 1px solid var(--titleColor);
    border-radius: 1rem;
    visibility: hidden; /* Default Setting */
}